{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Voity v IT{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic"  type="text/css">
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Raleway:400,300,600,200' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/base-styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/side-bar.css' %}">
    <link rel="stylesheet" href="{% static 'chat.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="header">
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="container-fluid">
                <div class="row" >
                    <div class="col-md-3">
                        <h1><a class="navbar" href="/">Voity v IT</a></h1>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="col-md-6 vcenter">
                            {% if user.is_authenticated %}
                                <form class="form-inline mt-2 mt-md-0 navbar-toggler-right"
                                      action="{% url 'search:search' %}" method="get">
                                    <input class="form-control mr-sm-2" type="text" placeholder="Поиск"
                                           aria-label="Search" id="search" name="q">
                                    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Найти</button>
                                </form>
                            {% endif %}
                        </div>
                        <div class="col-md-3 vcenter  justify-content-end">
                            <div class="container">
                                <div class="row justify-content-end vcenter">
                                        <h3 id="user">{{ user.first_name }} </h3>
                                        <img src="{% static user.thumbnail %}" width="38" height="38"
                                             class="rounded-circle" style="margin:0 5px">
                                    <div class="dropdown-right drop">
                                        <a class="dropdown-toggle" data-toggle="dropdown"></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                                <a href="{% url 'PersonalPage' pk=user.pk %}" class="dropdown-item">
                                                    <span class="">Моя страница</span>
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a href="{% url 'logout' %}" class="dropdown-item">
                                                    <span class="">Выйти</span>
                                                </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% else %}
                        <div class="col-md-6"></div>
                        <div class="col-md-3 vcenter">
                            <div class="container">
                                <div class="row justify-content-between vcenter">
                                    <a href="{% url 'login' %}">
                                        <h3 id="user" class=""> Войти </h3>
                                    </a>
                                    <a href="{% url 'register' %}">
                                        <h3 id="user" class=""> Регистрация </h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <main role="main" class="container-fluid">
        <div class="jumbotron jumbotron-fluid">
                <div class="row">
                    {% if user.is_authenticated %}
                        <div class="col-md-3 jumbotron">
                                <div id="admin-sidebar" class="col-md-10 p-x-0 p-y-3">
                                    <ul class="sidenav admin-sidenav list-unstyled">
                                        <li>
                                            <a href="{% url 'PersonalPage' pk=user.pk%}">
                                                Моя страница
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'Friends' %}">
                                                Мои друзья
                                                {% if new_followers_count > 0 %}
                                                    <span class="badge badge-warning" style="float: right;">
                                                    {{ new_followers_count }}
                                                    </span>
                                                {% endif %}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'RoomsList' %}">
                                                Мои сообщения
{#                                                {% if new_followers_count > 0 %}#}
{#                                                    ({{ new_followers_count }})#}
{#                                                {% endif %}#}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'Settings' %}">
                                                Мои настройки
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                        </div>
                    {% else %}
                    {% endif %}
				<div class="col-md-9 jumbotron jumbotron-fluid" id="main">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
        <br>
    </main>

    {% block afterbody %}{% endblock afterbody %}

{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>#}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>

